1 - base/node_modules
2 - redux/node_modules
3 - ajax/node_modules
4 - abm/node_modules
pruebahr/node_modules

1 - base/bundle.js
1 - base/npm-debug.log
1 - base/.DS_Store

2 - redux/bundle.js
2 - redux/npm-debug.log
2 - redux/.DS_Store

3 - ajax/bundle.js
3 - ajax/npm-debug.log
3 - ajax/.DS_Store

4 - abm/bundle.js
4 - abm/npm-debug.log
4 - abm/.DS_Store

# IntelliJ
*.iml
/.idea
